#Ignore vscode AI rules
.github/instructions/
.github/copilot-instructions.md
.github/chatmodes/
.github/prompts/

#Ignore all build output
**/build/**
**/dist/**
**/.playwright-mcp/

#Ignore installed dependencies & configs
**/node_modules/**/*
**/.turbo/**/*
**/.vscode/**/*